@import './reset.scss';
@import './paint.scss';

body {
    .loggedOut, .loggedIn {
        display: none;
    }
    &.loggedOut  {
        .loggedOut {
            display: block;
        }
    }
    &.loggedIn  {
        .loggedIn {
            display: block;
        }
    }
}
