<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/style.css")
        title Guess by drawing
    body
        .loggedOut
            form
                input(placeholder='Input your nickname', type='text')
        .loggedIn
            .chat
                .board#players
                ul#messages
                form#sendMessage
                    input(placeholder='Напиши сообщение', type='text')
            div#jsNotif        
            canvas#jsCanvas.canvas
            .controls#jsControls
                .controls__range
                    input#jsRange(type="range", min="0.1", max="5", value="2.5", step="0.1")
                .controls__btns
                    button#jsMode Fill
                    button#jsSave Save
                .controls__colors#jsColors
                    .controls__color.jsColor(style="background-color:#2c2c2c")
                    .controls__color.jsColor(style="background-color:white")
                    .controls__color.jsColor(style="background-color:#FF3B30")
                    .controls__color.jsColor(style="background-color:#FF9500")
                    .controls__color.jsColor(style="background-color:#FFCC00")
                    .controls__color.jsColor(style="background-color:#4CD963")
                    .controls__color.jsColor(style="background-color:#5AC8FA")
                    .controls__color.jsColor(style="background-color:#0579FF")
                    .controls__color.jsColor(style="background-color:#5856D6")
        script.
            window.events = !{ events }    
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")